<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="master.css">
  </head>
  <body>
    <div class="navbar sticky-top">
      <div class="row">
        <div class="col-md-2">
          <a class="navbar-brand" href="#"><img src="logo.png"></a>
        </div>
        <div class="col-md-2 offset-8 login">
          <img src="man1.png">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="genre">
            <div class="header">Genre</div>
            <ul class="list">
              <li><span><img class="music-icon" src="music-player.png"></span><a href="#">Pop</a></li>
              <li><span><img class="music-icon" src="music-player.png"></span><a href="#">Rock</a></li>
              <li><span><img class="music-icon" src="music-player.png"></span><a href="#">Jazz</a></li>
              <li><span><img class="music-icon" src="music-player.png"></span><a href="#">Blues</a></li>
              <li><span><img class="music-icon" src="music-player.png"></span><a href="#">Melody</a></li>
            </ul>
          </div>

          <div class="team-members">
            <div class="header">Team Members</div>
            <ul class="list">
              <li><span><img class="music-icon" src="man.png"></span><a href="#">Gautam</a></li>
              <li><span><img class="music-icon" src="girl.png"></span><a href="#">Lakshmi</a></li>
              <li><span><img class="music-icon" src="man.png"></span><a href="#">Rahul</a></li>
              <li><span><img class="music-icon" src="man.png"></span><a href="#">Shiva</a></li>
            </ul>
          </div>
        </div>
        <div class="col-10">
          <div class="container-inner">
            <div class="video-container">
              <img class="main-img" src="image1.jpg">
              <div class="shadow-element"></div>
            </div>
            <h1 class="main-header">Paradise</h1>
            <p class="description">There’s nothing quite like a good old slow-burner on the Official Singles Chart, and Paradise certainly took its own sweet time. The group’s second chart-topper, it finally reached Number 1 on its tenth week in the chart, knocking off Military Wives and Gareth Malone with Wherever You Are. The first Number 1 of 2012, Paradise has sold over 965,500 copies! It lasted a week at the top before Flo Rida’s Good Feeling gave it a nudge.</p>
            <div class="play-list">
              <h2 class="list-heading">Playlist</h2>
              <div class="container">
                <div class="row">
                <div class="col-md-3 list-item">
                  <a href="#"><img src="scott.jpg"></a>
                  <h4 class="name"><a href="#">Princess Of China</a></h4>
                  <p class="genre"><a href="#">Cold Play</a></p>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
              </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
